<h1>Welcome to the Private page</h1>

<img src="https://images.unsplash.com/photo-1571602642271-21cb1d8531f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
<div>
    <a href="/">Home page</a>
</div>
<div>
    <a href="/logout">Logout</a>
</div>